<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue js</title>
</head>
<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <div id="app">

        <hr>
        <ul>
            <li v-for="person in persons">
                {{person.name}} - {{person.lastName}}
            </li>
        </ul>
        <form>
            <fieldset>
                <legend>
                    Nombre:
                </legend>
                <input type="text" v-model="userName" name="">
            </fieldset>
            <fieldset>
                <legend>
                    Apellido(s):
                </legend>
                <input type="text" v-model="lastName" name="">
            </fieldset>

            <button type="button" v-on:click="addPerson">
                Save data
            </button>
        </form>


    </div>

    <script type="module">
      import { createApp, ref } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'
    
      createApp({
        setup() {
            const userName = ref(""), lastName= ref("");
            const persons = ref([])
            return {
                count:ref(0),
                message:ref(),
                numero1:ref(""),
                numero2:ref(""),
                resultado:ref(0),
                userName,
                lastName,
                persons
            }
        },
        methods:{
           addPerson(){
            const person ={
                name: this.userName,
                lastName: this.lastName
            }
            this.persons.push(person)
            console.log(this.userName, this.lastName)
           } 
        }
      }).mount('#app')
    </script>
</body>
</html>