<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue js</title>
</head>
<body>
    <div class="container" id="container_app">

        <form action="">
            <fieldset>
                <legend>
                    Email
                </legend>
                <input v-model="email" type="email" placeholder="Correo" name="">
            </fieldset>
            <fieldset>
                <legend>
                    Contraseña
                </legend>
                <input v-model="password" type="password" placeholder="Contraseña" name="">
            </fieldset>

            <button @click = 'login' type="button">Acceder</button>

        </form>

    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="text/javascript">
      const { createApp, ref } = Vue
    
      createApp({
        setup() {
            users = ref([]);
            email = ref('');
            password = ref('');
            return {
                users,
                email,
                password
            }
        },
        methods:{
           async login(){
            const response = await fetch("users.json");
            const users = await response.json();
            
            //2. recorrer los datos
            let encontrado = false;
            users.forEach((users) => {
                //comparar si existe
                console.log(users.email);
                console.log(users.password);
                if(this.email == users.email){
                    if(this.password == users.password){
                        encontrado = true;
                    }
                }
            });
            if(encontrado){
                alert("Bienvenido"); 
            } else{
                alert("Datos incorrectos");
            }
           
            console.log(users)        
            console.log("hola mundo")

           } 
        }
      }).mount('#container_app')
    </script>
</body>
</html>